<h1> This is a board</h1>
<h1>{{game.name}}</h1>
<h2>Number of players: {{game.length}}</h2>

<ul>
  <li ng-repeat="(key, value) in game.players">
    {{key}}
  </li>
</ul>

<button ng-show="currentUser.username === game.owner"
  ng-click="StartGame()">
  Start Game
</button>

<button ng-click="leaveGame()">Leave Game</button>

<br>

<button ng-click="channel = game.name">Game</button>
<button ng-click="channel = 'main'">Main</button>
<ul ng-hide="channel === 'main'">
  <li ng-repeat="messageObj in roomMessages">
    {{messageObj.sender}}: {{messageObj.message}}
  </li>
</ul>
<ul ng-show="channel === 'main'">
  <li ng-repeat="messageObj in mainMessages">
    {{messageObj.sender}}: {{messageObj.message}}
  </li>
</ul>

<form action="javascript:void(0)" ng-submit="createMessage(message, channel)">
  <input type="text" ng-model="message">
  <button>Send Message</button>
</form>


<!-- $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight; -->
<!-- use for auto scrolling later -->